.list-bullet-check {
  li {
    position: relative;
    padding-left: 36px;
    padding-bottom: 16px;
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      background: url('/imagenes/icons/bullet-check.svg') no-repeat center center;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 2px;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}