main {
  overflow: hidden;
  background: #E5F7FD;
}

section {
  overflow: hidden;
}

@media (min-width: $size-md) {
  section {
    .container-fluid {
      padding-left: 25px;
      padding-right: 25px;
      max-width: 1312px;
    }
  }
  
}


@media (min-width: $size-xl) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
