// COLORS
$verde-lafise: #00583C;
$verde-lafise-hover: #33ba75;
$verde-esmeralda: #086;
$verde-menta: #6FCF97;
$verde-hover: #8CC63E;
$verde-menu: #5abc4f;
$bancanet1: #43bb6c;
$text-color: #4d4d4d;
$text-colo-2: #545454;
$text-color-lafise-2: #00583C;
$gray-bg-1: #f6f6f6;
$gray-bg-2: #eeefef;
$gray-bg-3:#eaeaea;
$gray-bg-4: #F9F9F9;
$blanco:#ffffff;
$verde-esmeralda-seo: #018765;
// sizes
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;
$size-xxl: 1440px;
// spacing
$section-padding: 9.6rem;
$factor-mobile: 0.45;
$factor-sm: 0.35;
$factor-md: 0.25;
$factor-lg: 0.1;
$factor-xl: 1;
// paths
$site_url: ''
