.date_container {
  // border: 1px solid #e1e1e1;
  // border-radius: var(--lfs-rounded);
  > div {
    flex: 1;
    // select,
    // input {
    //   border: none;
    // }
  }
  > div:nth-child(1) {
    input {
      border-radius: var(--lfs-rounded) 0 0 var(--lfs-rounded);
      // border-right-color: #fff;
    }
  }
  > div:nth-child(2) {
    select {
      border-radius: 0;
      border-left-color: #fff;
      border-right-color: #fff;
      &:focus {
        // border-left: none !important;
        // border-right: none !important;
        
      }
    }
  }
  > div:nth-child(3) {
    input {
      border-radius: 0 var(--lfs-rounded) var(--lfs-rounded) 0;
    }
  }
}